textarea {
    resize: none;
}
h1
{
    color:white !important;
    margin-bottom: 30px !important;
}
p.small-spacing
{
    margin-bottom: 0.1em;
}
.whiteText
{
    color:white;
}
.whiteText:hover
{
    color:white;
    cursor: pointer;
}
.no-text-selection
{
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none;
}

.standard-cursor {
    cursor: default !important;
}

.clear {
    clear: both;
}

.vertical-spacing
{
    margin: 0;
    height: 16px;
    display: block;
}
.ng-scope
{
        background-color: #33B5E5;
}
#main {
    position: fixed;
    
    padding: 10px;
    left: 25px;
    right: 25px;
    top: 0;
    bottom: 0;
    margin-left:auto;
    margin-right:auto;

    /*box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
    border-left: 1px solid;
    border-right: 1px solid;*/
}
#LoginContain, #RegisterContain
{
    position:absolute;
    margin:0 auto;
    width:250px;
    top:50%;
    left:50%;
    margin-left:-125px;
    margin-top: -170px;
    background-color: #33B5E5;
}
#LoginContain p
{
    color:white;
    margin-bottom: 10px;
    font-size: 13px;
}
#LoginContain input, #RegisterContain input, #RegisterContain button
{
    width:100%;
    margin-bottom: 10px;
}
#header
{
    height:100px;
}
#header h1
{
    color:white;
    padding-bottom: 30px;
}

#top-corner-buttons {
    position: fixed;
    top:35px;
    right: 25px;
}
.tabBorder
{
    background-color: #33B5E5;
    border-bottom: 10px #0b6c98 solid !important;
}
.background
{
    background-color: #0b6c98 ;
}
.note-container {
    position: relative;
    float: left;
    margin-right: 10px;
    margin-top: 10px;
    width: 148px;
    height: 148px;
    padding: 5px;
    border: 1px solid;
    background-color: white;
    overflow: hidden;
}
.note-container:hover
{
    border: 2px solid #0b6c98;  
    cursor: pointer;
}
.note-title{
    width: 136px;
    height: 20px;
    border-bottom: 1px solid #000000;
    overflow:hidden;
    text-overflow: ellipsis;
    display: block
}
.note-body{
    width: 136px;
    height: 116px;
    overflow:hidden;
    text-overflow: ellipsis;
    display: block
}
.note-container-buttons {
    position: absolute;
    bottom: 0px;
    width: 148px;
    padding: 3px 0px;
    background-color: white;
}
.addNote
{
    position: relative;
    float: left;
    margin-right: 30px;
    margin-top: 10px;
    width: 150px;
    height: 150px;
    padding-left: 45px;
    overflow: hidden;
    color:#333;
    font-size: 100px;
    cursor: pointer;
}
.addNote:hover
{
    color:white;
}

.white-text
{
    color:white;
}

.modal-input
{
    width: 200px;
}

.add-note-input
{
    width: 350px;
}

.btn-stickynotes
{
  color: white;
  background-color: #0b6c98;
}
.btn-lightBlue
{
  color: white;
  background-color: #33B5E5;
}
.btn-delete
{
  color: white;
  background-color: #ae1818;
}
.nav-tabs>li>a
{
    color:#333 !important;
    background-color: white !important;
    cursor: pointer;
}
.nav-tabs>li>a:hover
{
    color:white !important;
    background-color: #333 !important;
    cursor: pointer;
}

.nav-tabs>li.active>a
{
    color:white !important;
    background-color: #0b6c98 !important;
}
#mainBody
{
    padding: 0px 10px;
}
.boardIcon
{
    height:30px;
    margin: -5px -10px;
    padding:0px;
    opacity: 0.6;
}
.boardIcon:hover
{
    opacity: 1;
}
.modal-body, .modal-footer
{
    background-color: #0b6c98 ;
    margin-top:0px !important;
    border-top:0px white solid !important;

}
#closeBtn
{
    height:25px;
    position:relative;
    top:-43px;
    left:530px;
}
