<div class="modal-header">
    <h3 class="white-text">Add Board</h3>
     <button ng-click="cancel()" class="btn btn-lightBlue" >
    		<img id="closeBtn" src="../images/closeIcon.png">
    </button>
</div>
<div class="modal-body">
    <p>To add a new board, enter a new board name here and click save.</p>
    <input placeholder="Board name" class="modal-input" type="text" ng-model="board.name">
</div>
<div class="modal-footer">
    <button ng-click="save()" class="btn btn-lightBlue" ng-disabled="board.name.trim() == ''" >Save</button>
</div>