<div class="modal-header">
    <h3>Add User to this board</h3>
</div>
<div class="modal-body">
    <p>Enter the email address of the user you want to invite below. The email address must belong to a registered user</p>
    <form ng-submit="onAddUserClicked(email)">
        <input placeholder="Email" type="text" ng-model="email">
        <input class="btn btn-success" type="submit" ng-disabled="email.trim() == ''" value="Add">
    </form>
    <p ng-show="showErrorText" class="text-error">{{ errorText }}</p>
    <p ng-show="showSuccessText" class="text-success">{{ successText }}</p>
</div>
<div class="modal-footer">
    <button ng-click="close()" class="btn btn-stickynotes">Close</button>
</div>