<div class="modal-header">
    <h3 class="white-text">Add User to this board</h3>
     <button ng-click="close()" class="btn btn-lightBlue" >
    		<img id="closeBtn" src="../images/closeIcon.png">
    	</button>
</div>
<div class="modal-body ">
    <p class="whiteText">Enter the email address of the user you want to invite below. The email address must belong to a registered user</p>
    <form ng-submit="onAddUserClicked(email)">
        <input placeholder="Email" class="modal-input" type="text" ng-model="email">
        <input class="btn btn-success" type="submit" ng-disabled="email.trim() == ''" value="Add">
    </form>
    <p ng-show="showErrorText" class="text-error">{{ errorText }}</p>
    <p ng-show="showSuccessText" class="text-success">{{ successText }}</p>
</div>
<div class="modal-footer">
</div>